<!DOCTYPE html>
<html>
  <head>
    <title>HappyHour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.script src: "https://unpkg.com/@phosphor-icons/web" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100 font-sans">
    <main class="container mx-auto px-4 py-8">
      <% if flash[:notice] %>
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4 rounded" role="alert">
          <p><%= notice %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4 rounded" role="alert">
          <p><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
